version: 2.1
jobs:
  norminette:
    docker:
      - image: alexandregv/norminette:v3
    working_directory: ~/project/
      - checkout
      - run: norminette -R CheckForbiddenSourceHeader framework
      - run: norminette -R CheckForbiddenSourceHeader libft
      - run: norminette -R CheckForbiddenSourceHeader real_tests
      - run: norminette -R CheckForbiddenSourceHeader tests
  test:
    docker:
      - image: gcc:4.9
    working_directory: ~/project/
    steps:
      - checkout
      - run: make clean -C tests && make test -C tests
      - run: make clean -C real_tests && make test -C real_tests
